# core requirement
privex-loghelper
python-dateutil
sniffio

# Extra [cache] - file: extras/cache.txt
redis>=4.2.0rc1
hiredis
aiomcache>=0.6

# Extra [crypto] - file: extras/crypto.txt
cryptography>=2.8

# Extra [django] - file: extras/django.txt
Django

# Extra [net] - file: extras/net.txt
dnspython>=1.16

# Extra [geoip] - file: extras/geoip.txt
geoip2>=3.0.0
attrs

# Extra [tests] - file: extras/tests.txt
pytest
pytest-cov
pytest-asyncio
coverage
codecov

# Extra [setuppy] - file: extras/setuppy.txt
setuptools
wheel
twine
semver

# Extra [docs] - file: extras/docs.txt
Sphinx>=3.1.1
sphinx-autobuild>=0.7.1
restructuredtext-lint>=1.3.0
sphinx-rtd-theme>=3.0.0rc4
MarkupSafe>=1.1.1
docutils>=0.14
