Sphinx>=2.1.2
sphinx-autobuild>=0.7.1
restructuredtext-lint>=1.3.0
sphinx-rtd-theme>=0.4.3
MarkupSafe>=1.1.1
docutils>=0.14

# Required for generating docs for the helpers using these packages...
Django>=2
dnspython>=1.16.0
redis>=3.3.8
privex-loghelper>=1.0.4
